{% extends 'base.html.twig' %}

{% block title %}
    Contact
{% endblock %}

{% block navlink_class_contact %}active{% endblock %}
{% block aria_current_contact %}page{% endblock %}

{% block main %}

    <h1> {{ h1 }} </h1>

    {{ form(form) }}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}