{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block navlink_class_projets %}active{% endblock %}
{% block aria_current_projets %}page{% endblock %}

{% block main %}
    <h1> {{ h1 }} </h1>
    <div class="list-group">
        {% for projet in Liste %}
            <ul>
                <li>
                    <a href="../../{{ projet }}/index.html" target="_blank" class="list-group-item list-group-item-action" active aria-current="true">{{ projet }}</a>
                </li>
            </ul>
        {% endfor %}
    </div>
{% endblock %}